<section class="card">
    <h2>{{ title }}</h2>

    <form class="form" (ngSubmit)="salvar()">
        <label>
            Nome
            <input
                type="text"
                name="nome"
                placeholder="Ex: Notebook Dell"
                [(ngModel)]="produto.nome"
            />
        </label>

        <label>
            Descrição
            <input
                type="text"
                name="descricao"
                placeholder="Ex: Notebook Dell Inspiron 15"
                [(ngModel)]="produto.descricao"
            />
        </label>

        <label>
            Preço
            <input
                type="number"
                name="preco"
                [(ngModel)]="produto.preco"
                placeholder="3500"
            />
        </label>

        <button type="submit">Cadastrar</button>
    </form>
</section>